.App {
  text-align: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
}


.form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.form-input-container {
  display: flex;
  position: relative;
  align-items: center;
  max-width: 100%;
}

.form-input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 20rem;
  max-width: 100%;
  margin-right: 0.5rem;
}

.form-input-with-clear-btn {
  padding-right: 2.5rem;
}

.form-input-clear-btn {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #ccc;
}

.form-input-clear-btn:hover {
  color: #000;
}

.form-button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 1rem;
}

li b {
  font-weight: bold;
}

li i {
  font-style: italic;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader::after {
  content: 'Loading...';
  font-size: 1.2rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  color: white;
}

.navbar-title {
  font-size: 32px;
}

.subtitle {
  font-size: 22px;
}

.form-input {
  font-size: 18px;
  width: 40ch;
}

.form-button {
  font-size: 18px;
}

/* Media query for small screens */
@media (max-width: 600px) {
  .form-input {
    font-size: 16px;
    width: 30ch;
  }

  .navbar-title {
    font-size: 26px;
  }
  
  .form-button {
    font-size: 16px;
  }
}

/* Media query for even smaller screens */
@media (max-width: 400px) {
  .form-input {
    font-size: 14px;
    width: 25ch;
  }

  .navbar-title {
    font-size: 22px;
  }
  
  .form-button {
    font-size: 14px;
  }
}

@media (max-width: 315px) {
  .form-input {
    font-size: 12px;
    width: 20ch;
  }

  .navbar-title {
    font-size: 18px;
  }
  
  .form-button {
    font-size: 12px;
  }
}

.input-group {
  position: relative;
  display: flex;
}

.form-input {
  padding-right: 40px;
}

.input-group-append {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.btn-outline-secondary {
  background-color: transparent;
  color: #6c757d;
  border-color: transparent;
}

.btn-outline-secondary:hover {
  color: #343a40;
}
